@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #4caf4f;
  --header-color: #4d4d4d;
  --paragraph-color: #717171;
  --paragraph-font-size: 1.3rem;
  --paragraph-lineheight: 2.3rem;
  --header2-fontsize: 2.5rem;
  --header2-lineheight: 3rem;
  --header2-fontweight: 600;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: inter, "sans-serif";
}
body {
  background-color: whitesmoke;
}
.container {
  max-width: 144rem;
  margin: 5rem 10rem 0;
}
header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 4.455rem;
  font-weight: 600;
  width: 45.7rem;
  color: var(--header-color);
}
header :nth-child(3) {
  color: var(--paragraph-color);
  padding-top: 1rem;
  line-height: var(--paragraph-lineheight);
  font-weight: 400;
  font-size: var(--paragraph-font-size);
}
header :nth-child(4),
article button,
.pre-footer button {
  margin-top: 1rem;
  font-size: var(--paragraph-font-size);
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 2rem;
  font-weight: 500;
  line-height: 1.67rem;
  border: 0;
  cursor: pointer;
  animation: pulsate 1.5s infinite;
  animation-play-state: running;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button:hover {
  animation-play-state: paused;
  background-color: #4ba04d;
}
section .clients {
  margin-top: 6.5rem;
}

.clients :nth-child(1),
.communities :nth-child(1),
.communities :nth-child(2),
.pixelgrade article h1,
.local-bz .local :nth-child(1),
.local-bz .local :nth-child(2),
.caring :nth-child(1) {
  color: var(--header-color);
  text-align: center;
  font-size: var(--header2-fontsize);
  line-height: var(--header2-lineheight);
  font-weight: var(--header2-fontweight);
}
.clients :nth-child(2),
.communities :nth-child(3),
.communities .community p,
.pixelgrade article p,
.record-figures p,
.local-bz .local :nth-child(3),
.tesla p,
.tesla p:nth-of-type(8),
.caring p {
  color: var(--paragraph-color);
  text-align: center;
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-lineheight);
  font-weight: 360;
}
.clients :nth-child(3) {
  margin: 0 21.75rem;
}
.communities {
  margin-top: 1.5rem;
}
.communities .community h1 {
  font-size: 19.49px;
  line-height: 2.506rem;
  font-weight: 700;
  color: var(--header-color);
}
.community {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}
section .pixelgrade,
section .tesla {
  height: 30.766rem;
  width: 100rem;
  display: flex;
  margin: 10rem auto 10rem;
}
.pixelgrade article {
  margin: auto;
  height: 18.79rem;
}
.pixelgrade article h1 {
  text-align: start;
}
.pixelgrade article p {
  text-align: start;
}
.para-container {
  margin-top: 3rem;
}
.record-figures {
  width: 37.588rem;
  height: 11.384rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6rem;
  row-gap: 3.5rem;
}
.record-figures h1 {
  color: var(--header-color);
  font-size: 1.949rem;
  line-height: 2.506rem;
  font-weight: 700;
}
.record-figures p {
  text-align: left;
}
.record-figures img {
  display: inline-block;
}
.local-bz {
  height: 20.294rem;
  width: 100rem;
  display: flex;
  justify-content: space-between;
  margin: 10rem auto 10rem;
}
.pre-image1::before {
  content: url("images/2heads.png");
  display: inline;
  margin-right: 1rem;
  vertical-align: middle;
  width: 3.2rem;
}
.pre-image2::before {
  content: url("images/hands-icon.png");
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  width: 3.2rem;
}
.pre-image3::before {
  content: url("images/pointingfinger.png");
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  width: 3.2rem;
}
.pre-image4::before {
  content: url("images/card.png");
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  width: 3.2rem;
}
.record-figures p {
  margin-left: 4.1rem;
}

.local-bz .local :nth-child(1),
.local-bz .local :nth-child(2),
.local-bz .local :nth-child(3) {
  text-align: left;
}
.local-bz .local :nth-child(2) {
  color: var(--primary-color);
}
.local-bz .local {
  height: 11.384rem;
  margin: auto 0 5rem;
}
.tesla {
  display: flex;
  width: 100rem;
  height: 28rem;
  justify-content: space-between;
}
.tesla p {
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}
.tesla .tesla-para {
  height: 23rem;
}
.tesla .tesla-para h3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--primary-color);
}
.tesla p:nth-of-type(8) {
  text-align: left;
  padding-bottom: 1.5rem;
}
.tesla-logo {
  margin: auto 0 4rem;
}
.caring :nth-child(1) {
  margin-bottom: 1.7rem;
}
.caring .caring-imgs {
  width: 100rem;
  display: flex;
  justify-content: space-around;
  margin: 1.7rem auto 3.5rem;
}
.caring .pre-footer > h1 {
  font-size: 4.455rem;
  line-height: 3.29rem;
  font-weight: 600;
  color: var(--header-color);
  text-align: center;
}
footer img {
  position: sticky;
  bottom: 0;
  width: 144rem;
  margin: 5rem auto 0;
}
.caring .pre-footer button {
  display: block;
  margin: 5rem auto 0;
}
@media (max-width: 1024px) {
  :root {
    --paragraph-font-size: 1.2rem;
    --paragraph-lineheight: 2.3rem;
    --header2-fontsize: 2.5rem;
    --header2-lineheight: 3rem;
    --header2-fontweight: 800;
  }

  .container {
    max-width: 102.4rem;
    margin: 5rem 5rem 0;
    overflow: hidden;
  }
  footer img {
    position: sticky;
    bottom: 0;
    width: 102.4rem;
    margin: 5rem auto 0;
  }
  .clients :nth-child(3) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .local-bz {
    width: 85rem;
  }
  section .pixelgrade,
  section .tesla {
    width: 85rem;
  }
  .tesla p {
    font-size: 1.2rem;
  }
  .caring .caring-imgs {
    width: 85rem;
    display: flex;
    justify-content: space-around;
    margin: 1.7rem auto 3.5rem;
  }


}
